@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 26rem;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
  background-color: cadetblue;
}

nav > a {
  font-weight: 700;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  margin-left: 1.5rem;
  list-style-type: none;
}

li {
  margin-left: 1.5rem;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2rem;
  height: calc(100% - 3rem);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  width: 39rem;
  height: 20rem;
  padding: .75rem 1rem;
  font-size: 1.1rem;
  resize: none;
  font-family: inherit;
  color: #333;
  outline: none;
  border-radius: .75rem;
  margin-bottom: 1rem;
}

input {
  width: 39rem;
  height: 3rem;
  padding: .75rem 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  color: #333;
  outline: none;
  border: 1px solid rgb(169, 169, 169);
  border-radius: .75rem;
  margin-bottom: 1rem;
}

button {
  width: 39rem;
  height: 3rem;
  border-radius: .75rem;
  background-color: cadetblue;
  color: white;
  border: none;
  font-size: 1.05rem;
}

table {
  border-collapse: collapse;
  width: 26rem;
  height: 24rem;
}

thead tr {
  display: block;
  transform: translate(-.5px, 1px);
}

tbody {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}

th {
  border: 2px solid rgb(169, 169, 169);
  padding: .5rem .8rem;
}

td {
  border: 1px solid rgb(169, 169, 169);
  padding: .2rem .8rem;
  text-align: center;
}

th:nth-child(1), td:nth-child(1) {
  width: 10rem;
}

th:nth-child(2), td:nth-child(2) {
  width: 10rem;
}

th:nth-child(3), td:nth-child(3) {
  width: 5rem;
}

span {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: crimson;
}

@media (max-width: 1200px) {
  html, body {
    height: initial;
  }

  main {
    flex-direction: column;
    margin: 3rem 0;
  }

  textarea,
  input,
  button {
    width: 26rem;
  }

  table {
    margin-top: 3rem;
  }
}